.job__title {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #7D7D7D;
  text-align: center;
  margin-top: 120px;
}

.job__content {
  display: flex;
  flex-direction: row;
}

.job {
  width: 1366px;
  margin: 0 auto;
}

.job__item {
  margin-top: 60px;
  margin-left: 95px;
  display: flex;
  align-items: center;
}

.job__item img {
  max-width: 100%;
  height: auto;
}

