.one_step {
  width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.one_step__left {
  width: 491px;
  margin-left: 80px;
}

.one_step__first {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  color: #FFFFFF;
  margin-top: 153px;
}

.one_step__second {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #7D7D7D;
}

.one_step__caption {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #141414;
  padding: 18px 40px;
  background: #DCDCDC;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
}

.one_step__caption:hover {
  background: #C0C0C0;
}

.one_step__join {
  margin-top: 50px;
}

.one_step__right {
  margin-top: 50px;
  margin-left: 60px;
}

.one_step__girl {
  max-width: 100%;
  height: auto;
}

