.topic__title {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
  width: 587px;
  margin-left: 80px;
}

.topic {
  width: 1366px;
  margin: 0 auto;
  margin-top: 120px;
}

.topic__questions {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-top: 48px;
  list-style-type: none;
}

.topic__question {
  margin-right: 42px;
  margin-bottom: 104px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.topic__name {
  width: 215px;
  margin-top: 16px;
}

.topic__question img {
  max-width: 80px;
  width: 80px;
  height: auto;
  object-fit: contain;
}

