.join__desc {
  list-style-image: url("/img/g.png");
  padding-bottom: 32px;
}

.join__desc__item {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;
  color: #7D7D7D;
}

.join__title2 {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.join__lr {
  display: flex;
  justify-content: space-between;
}

.join__block {
  padding: 48px 71px;
  border: 1px solid #484848;
  box-sizing: border-box;
  border-radius: 15px;
  width: 586px;
  margin-left: 80px;
}

.join {
  width: 1366px;
  margin: 0 auto;
  margin-top: 120px;
}

.join__content {
  display: flex;
}

.join__price {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}

.join__purchase {
  background: #DCDCDC;
  border-radius: 15px;
  padding: 18px 40px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #141414;
  cursor: pointer;
}

.join__purchase:hover {
  background: #C0C0C0;
}

.join__title {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #FFFFFF;
  margin-left: 80px;
  margin-bottom: 32px;
}

.join__alert {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7D7D7D;
  margin-top: 32px;
}

