.footer {
  width: 1366px;
  margin: 0 auto;
}

.footer__content {
  margin-left: 80px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
  color: #7D7D7D;
  margin-top: 120px;
}

